force-app/main/default/flows/New_Retail_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Customer</name>
        <label>Assign New Customer</label>
        <locationX>1009</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>CustomerRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerRecord.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Retail_Customer_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Customer</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RetailCustomer_DeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail_Customer</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>PhoneNumberValidation</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!PhoneNumber.value}, &quot;^[0-9]{10}$&quot;)</expression>
    </formulas>
    <interviewLabel>New Retail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Retail Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Customer</name>
        <label>Create New Customer</label>
        <locationX>1291</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>New_Retail_Customer_Success</targetReference>
        </connector>
        <inputReference>CustomerRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Retail_Customer_Record_Type</name>
        <label>Get Retail Customer Record Type</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetailCustomer_DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Screen for store clerk to create a new retail customer</description>
        <name>New_Retail_Customer</name>
        <label>New Retail Customer</label>
        <locationX>345</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Retail_Customer_Record_Type</targetReference>
        </connector>
        <fields>
            <name>HeaderLabel</name>
            <fieldText>&lt;h2&gt;&lt;strong style=&quot;font-size: 22px; font-family: sans-serif; color: rgb(1, 10, 70);&quot;&gt;&lt;img src=&quot;https://orgfarm-32e618a9c4-dev-ed.develop.lightning.force.com/sfc/servlet.shepherd/version/download/068dL00000I8G21?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;new_person_account.png&quot;&gt;   New Retail Customer﻿&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Retail_Customer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Retail_Customer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Retail_Customer_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PhoneNumber</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>(555) 123-4567</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter a valid 10-digit US/Canadian phone number.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PhoneNumberValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-background-color</propertyName>
            <propertyValue>
                <stringValue>#F3F3F3</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-border-color</propertyName>
            <propertyValue>
                <stringValue>#808DE1</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
    </screens>
    <screens>
        <description>Success screen for new retail customer creation</description>
        <name>New_Retail_Customer_Success</name>
        <label>New Retail Customer Success</label>
        <locationX>1062</locationX>
        <locationY>688</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Retail_Customer</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_HeaderLabel</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(1, 10, 70);&quot;&gt;&lt;img src=&quot;https://orgfarm-32e618a9c4-dev-ed.develop.lightning.force.com/sfc/servlet.shepherd/version/download/068dL00000I8KLl?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Icon-CheckMark.png&quot;&gt;  Customer {!FirstName} {!Last_Name} successfully created!&lt;/span&gt;&lt;span style=&quot;color: rgb(24, 24, 24);&quot;&gt;﻿&lt;/span&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-background-color</propertyName>
            <propertyValue>
                <stringValue>#F3F3F3</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-border-color</propertyName>
            <propertyValue>
                <stringValue>#808DE1</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_Retail_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
